section > div > button,
section > div> div>button
{
    height: 2em;
    width: 6em;
    margin: 0 10px 0 0;
}
section > div > button
{
    height: 3em;
}
section > div> div
{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
p#story
{
    font-size: 1.3em;
}
